
.conteiner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:flex-start;
}

.nav {
    min-width: 54px;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    flex-direction:column;   
}

.nav__wrapper {
    display: flex;
    align-items: center;
    flex-direction:column;
    flex: 1 1 auto;
    position:fixed;
    top: 0;
    height: 370px;
    margin-bottom: 10px;
}

.nav__box-profile {
    max-width: 36px;
    min-height: 122px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction:column;
}

.nav__logo {
    margin-top: 27px;
    cursor: pointer;
}

.nav__ico {
    margin-top: 20px;
}

.nav__box-list {
    margin-top: 14px;
    max-width: 54px;
    display: flex;
    align-items: center;
    flex-direction:column;
    flex: 1 1 auto;
}

.nav__menu {
    margin-bottom: 26px;
    cursor: pointer;
}

.nav__menu_activ {
    width: 42px;
    height: 42px;
    background: #27AE60;
    box-shadow: 0px 4px 4px rgba(39, 174, 96, 0.25);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__box-settings {
    max-width: 42px;
    min-height: 84px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: sticky;
    bottom: 0;
}

.nav__settings {
    margin-top: 12px;
    cursor: pointer;
}

.nav__exit {
    margin-top: 24px;
    cursor: pointer;
}
/*----------------------Список контактов--------------------*/
.contact {
    max-width: 343px;
    border-right: 1px solid #EEEEEE ;
    margin-left: 19px;
}

.contact__box-title {
    margin-top: 27px;
    width: 291px;
    height: 104px;
}

.contact__title {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 16px;
    color: #000000;
}

.form-search {
    position: relative;
    display: flex;
}

input[type="search"] {
    width: 291px;
    height: 36px;
    background: #EEEEEE;
    border-radius: 12px;
    padding-left:38px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.45);
    border: none;
}

input[type="search"]:focus {
    outline: 0;
    color: rgb(0, 0, 0);
}

.form-search__button {
    background: url(../img/search.svg) no-repeat center center;
    width: 10px;
    height: 10px;
    border: none;
    position:absolute;
    margin: 13px 0 0 12px;
    cursor: pointer;
}

.contact__sort {
    margin-top: 11px;
    display: flex;
    align-items: center;
}

.contact__text {
    padding-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
}

.contact__tex2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2D9CDB;
    padding-left: 8px;
}

.contact__img-sort {
    background: url(../img/img-sort.svg) no-repeat center center;
    width: 4.95px;
    height: 3.3px;
    display: inline-block;
    padding-left: 7px;
}

.contact__box-contact {
    display: flex;
    width: 316px;
    height: 54px;
    position: relative;
}

.contact__box-contact:hover {
    outline: 1px solid #27AE60;
    cursor: pointer;
}

.contact__box-contact_typing {
    background-color: #EEEEEE;
}

.contact__box-contact img{
    margin-top: 10px;
}

.contact__wrapper {
    margin-left: 12px;
    display: flex;
    align-items: center;
    flex-direction:column;
    margin-top: 10px;
}

.contact__ico_online {
    background: url(../img/ellipse.svg) no-repeat;
    width: 8px;
    height: 8px;
    margin: 36px 0 0 29px;
    position: absolute;
}

.contact__nick {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;;
    width: 253px;
}
.note {
    background: url(../img/notes.svg) no-repeat center center;
    width: 9.55px;
    height: 9.55px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.contact__nick-name {
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
    min-width: 150px;
    height: 16px;
}

.contact__nick-name_note {
    padding-left: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
    min-width: 150px;
    height: 16px;
}

.contact__date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;;
    width: 253px;
    margin-top: 2px;
}

.contact__message {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.45);
}

.contact__message_not-viewed {
    color: rgba(0, 0, 0, 0.85);
}

.contact__message_typing {
    color: #27AE60;
    margin-left: 12px;
}

.contact__time {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
}

.status {
    background: url(../img/status.svg) no-repeat center center;
    width:10.95px;
    height:6.01px;
}

.status_typing {
    background: url(../img/status-typing.svg) no-repeat center center;
    width:10.95px;
    height:6.01px;
}

.status_read {
    background: url(../img/status-read.svg) no-repeat center center;
    width:10.95px;
    height:6.01px;
}

.status_shipped {
    background: url(../img/status-shipped.svg) no-repeat center center;
    width:8.49px;
    height:6.01px;
}

.status_not-viewed{
    background-color: #27AE60;
    border-radius: 91px;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.status_none {
    display: none;
}

/*----------------------Окно с сообщениями --------------------*/
.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages__header {
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
}

.messages__box-status {
    display: flex;
    align-items: center;
}

.messages__box-ico {
    display: flex;
    align-items: center;
    margin-left: 11px;
    cursor: pointer;
}

.messages__name-status {
    display: flex;
    flex-direction:column;
    margin-left: 12px;
}

.messages__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
}

.messages__status {
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #27AE60;
}

.messages__box-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 42px;
    margin-right: 9px;
}

.messages__video {
    background: url(../img/main/video-call.svg) no-repeat center center;
    width: 18px;
    height: 12.46px;
}

.messages__info {
    background: url(../img/main/info.svg) no-repeat center center;
    width: 18px;
    height: 18px;
}

.messages__main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #EEEEEE;
}

.messages__wrapper {
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 auto;
}

.messages__img-ico {
    width: 24px;
}

.messages__box-he {
    display: flex;
}

.messages__box-he_today {
    margin-top: 20px;
}

.messages__he {
    display: flex;
    flex-direction:column;
    margin-right: 15px;
    flex-wrap: wrap;
    margin-left: 9px;
}

.messages__img{
    height: 240px;
    width: 240px;
    background-size: cover;
    background: url(../img/main/img-car-site.jpg) no-repeat;
    background-position: bottom 32px center;
    margin-bottom: -28px;
}

.messages__text{
    padding: 12px 18px 12px 18px;
    background: #F4F4F7;
    border-radius: 16px;
    margin-bottom: 4px;
}

.messages__text-time {
    padding: 12px 18px 6px 18px;
}

.messages__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.85);
}

.messages__text_link {
    color: #2D9CDB;
}

.messages__text-time {
    display: flex;
    flex-direction:column;
}

.messages__time {
    padding-top: 4px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.45);
}

.messages__me {
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 15px;
}

.messages__me-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.status_messages {
    margin-right: 8px;
}

.messages__days-text {  
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.messages__days-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.45);
}

.messages__days-text:before,
.messages__days-text:after {
    content: '';
    display: inline-block;
    width: 100%;
    border-top: 1px solid #EEEEEE;
    position: relative;
    vertical-align: middle;
}

.messages__days-text:before {
    right: 24px;
    margin: 0 0 0 -100%;
}
.messages__days-text:after {
    left: 24px;
    margin: 0 -100% 0 0;
}

.messages__sending {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
}

.form-messages {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.form-messages__button {
    border: none;
}

.form-messages__button_file {
    background: url(../img/investment.svg) no-repeat center center;
    width: 13.14px;
    height: 15.01px;
    margin: 13px 21px 13px 13px;
}

input[type="text"] {
    height: 36px;
    background: #FAFAFA;
    border-radius: 12px;
    border: none;
    padding-left: 12px;
    margin-right: 12px;
    display: flex;
    width: 100%;
}

input[type="text"]:focus {
    outline: none;
}

.form-messages__button_send {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #27AE60;
    width: 150px;
    height: 100%;
    margin: 0 18px 0 11px;
    background: none;
}

.form-messages__button:hover {
    cursor: pointer;
}

